DB_HOST=metropoliahost # school database address.
DB_USER=username # replace with your database user name
DB_PASSWORD=password # replace with your database user password
DB_NAME=databasename # replace with your database name